
@{
    ViewData["Title"] = "Public";
}
<p class="border border-5 rounded-pill border-warning d-inline-block p-1">Public Page</p>
<div class="text-center">
    <h1 class="display-4">Anyone can visit this Page</h1>
</div>

